*,
::after,
::before {
	box-sizing: inherit;
}
:root {
	--main: #114b5f;
	--white: #ffffff;
	--background: #ffffff;
}
.weather__container {
	font-family: Roboto, sans-serif;
	max-width: 600px;
	height: 650px;
	margin: 0 auto;
	padding: 5px;
	background-color: var(--background);
	display: grid;
	grid-template-columns: minmax(320px, 100%);
	grid-template-rows: 70px 250px 110px 220px auto;
	grid-template-areas: 'city' 'current' 'hourly' 'daily' 'more';
	font-size: 20px;
	font-weight: 400;
}
.btn-reset {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	opacity: 0.6;
	background-color: transparent;
	color: var(--main);
}
.weather__details,
.weather__hourly {
	padding: 0 5px 0 5px;
	border-bottom: solid 1px var(--main);
	display: flex;
}
.weather__details {
	grid-area: current;
	align-items: center;
	gap: 40px;
	justify-content: space-around;
}
.weather__details-right {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: start;
	align-items: center;
}

.weather__city {
	grid-area: city;
	text-align: center;
	font-size: 48px;
	font-weight: 800;
	color: var(--main);
}

.weather__details-left {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.current__block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.current__img-wrapper {
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.current__img-wrapper img {
	width: 140%;
	height: 140%;
	object-fit: cover;
}

.current__t {
	display: flex;
	text-align: center;
}
.current__t span {
	font-size: 90px;
	font-weight: 700;
	color: var(--main);
}
.units {
	font-size: 54px !important;
	line-height: 48px;
}
.current {
	font-size: 28px;
	display: flex;
	align-items: start;
	gap: 5px;
}
.text {
	color: #000 !important;
	font-weight: 400 !important;
}
.text__units {
	font-size: 24px !important;
	line-height: 18px !important;
	margin-left: -5px;
}
.current span {
	color: var(--main);
	font-size: 28px;
	font-weight: 700;
}
.likeis__container {
	display: flex;
	align-items: start;
}
.hourly {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	width: 80px;
}
.weather__hourly {
	grid-area: hourly;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: hidden;
	justify-content: space-between;
	align-items: center;
}
.weather__hourly-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	font-size: 32px;
	line-height: 24px;
	justify-content: space-between;
	font-weight: 500;
	width: 60px;
}
.hourly__temperature {
	display: flex;
	color: var(--main);
	font-weight: 700;
}
.text_hourly {
	line-height: 8px;
	font-size: 18px;
}
.weather__daily {
	grid-area: daily;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow: hidden;
	justify-content: space-between;
	align-items: center;
}
.weather__daily-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
	font-size: 32px;
	line-height: 24px;
	justify-content: space-between;
	font-weight: 500;
}
.weather__daily-item img {
	width: 50px;
	height: 50px;
}
.more {
	margin-top: 25px;
	grid-area: more;
	text-decoration: none;
	color: #000;
	display: flex;
	justify-content: end;
}
@media screen and (max-width: 450px) {
	.weather__container {
		grid-template-rows: 50px 220px 100px 210px auto;
	}
	weather__details {
		gap: 5px;
	}
	.current__t span {
		font-size: 40px;
	}
	.current,
	.current span {
		font-size: 22px;
	}
	.units {
		font-size: 28px !important;
	}
}
@media screen and (max-width: 375px) {
	.current__t span {
		font-size: 38px;
	}
	.current,
	.current span {
		font-size: 18px;
	}
	.units {
		font-size: 25px !important;
	}
}
