@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

:root {
	--main: #236969;
	--bg: rgba(249, 249, 249, 0.35);
	--text: #222831;
	--shadow: #d2ecf9;
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
}
.weather__container {
	font-family: 'Dosis', sans-serif !important;
	max-width: 770px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: minmax(320px, 100%);
	grid-template-rows: 90px 550px auto;
	color: var(--text);
}

.weather__location {
	display: flex;
	justify-content: space-between;
	align-items: end;
	background-color: var(--bg);
	padding: 10px;
	box-shadow: 0 5px 5px -5px rgba(67, 163, 160, 0.5);
	border-radius: 5px;
	margin-bottom: 20px;
}

.region {
	display: flex;
	align-items: end;
}

.regional__centers {
	display: flex;
	gap: 10px;
	align-items: end;
}

.regional__items {
	text-decoration: none;
	list-style-type: none;
	font-size: 16px;
	color: #497285;
}

.current__location {
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: 600;
	color: var(--main);
	opacity: 1;
	line-height: 2.5rem;
}

.weather__today {
	background-color: var(--bg);
	padding: 30px;
	box-shadow: 0 5px 5px -5px rgba(67, 163, 160, 0.5);
	border-radius: 5px;
	margin-bottom: 20px;
}

.weather__week__days {
	background-color: var(--bg);
	padding: 10px;
	box-shadow: 0 5px 5px -5px rgba(67, 163, 160, 0.5);
	border-radius: 5px;
	margin-bottom: 20px;
}

.today__current {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 30px;
}

.current__img {
	width: 280px;
	height: 200px;
	display: flex;
	flex-direction: column;
	color: var(--main);
	align-items: center;
	justify-content: flex-start;
	font-size: 30px;
}

.current__img img {
	width: 200px;
	height: 200px;
}

.current__wrapper {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
}

.current__day {
	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--main);
}

.current__temperature-wrapper {
	width: 220px;
	height: 220px;
	background-color: #fff;
	color: var(--main);
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.curr_wrapper {
	display: flex;
	align-items: start;
}

.current__temp {
	font-size: 90px;
	line-height: 60px;
}

.current__separator {
	font-size: 40px;
	line-height: 0px;
}

.current__units {
	font-size: 90px;
	line-height: 60px;
}

.today__additions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.additions__item {
	width: 320px;
	display: flex;
	padding: 0 10px 0 10px;
	height: 40px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	background-color: #fff;
	color: var(--main);
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	font-size: 18px;
}

.additions__meaning {
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	align-items: start;
	gap: 2px;
}

#current__date {
	font-weight: 700;
}

.current__separator__feels__like {
	font-size: 12px;
	line-height: 14px;
}

.weather__week__days {
	padding: 30px;
}

.day__wrapper {
	font-size: 32px;
	color: var(--main);
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.wrapper__day {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.temp__daytime {
	display: flex;
	width: 320px;
	flex-direction: column;

	align-items: center;
}

.day__additions {
	display: flex;
	flex-direction: column;
}

.more__additions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px 0 10px;
	height: 40px;
	background-color: #fff;
	color: var(--main);
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	font-size: 18px;
}

.more__item {
	display: flex;
	gap: 5px;
}

.more__meaning {
	font-weight: 600;
}

.daytime_wrapper {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--main);
	font-size: 24px;
}

.currentday__temperature-wrapper {
	display: flex;
}
.day__temp {
	font-size: 45px;
	line-height: 40px;
	font-weight: 600;
}

.day__separator {
	font-size: 26px;
	line-height: 10px;
	font-weight: 600;
}

.day__units {
	font-size: 45px;
	line-height: 40px;
	font-weight: 600;
}

@media screen and (max-width: 600px) {
	.weather__container {
		grid-template-rows: 90px 600px auto;
	}
	.weather__today {
		padding: 5px;
	}
	.additions__item {
		width: 95%;
	}
	.current__temperature-wrapper {
		width: 160px;
		height: 160px;
	}
	.current__temp {
		font-size: 60px;
		line-height: 45px;
	}
	.current__units {
		font-size: 60px;
		line-height: 45px;
	}

	.current__img {
		width: 160px;
		height: 160px;
	}
	.current__img img {
		width: 140px;
		height: 140px;
	}
	.weather__week__days {
		padding: 5px;
	}
	.daytime_wrapper {
		margin-bottom: 15px;
	}
	.day__wrapper {
		font-size: 28px;
	}
	.day__additions {
		width: 100%;
	}
	.temp__daytime {
		width: 100%;
	}
	.more__additions {
		flex-wrap: wrap;
		justify-content: space-around;
		height: 80px;
	}
}
